<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog Comment Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <form method="POST" action="/add">
    <h1>Leave a Comment</h1>
    <p>Fill out the form below and submit to leave a comment.</p>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="A title"><br>
    <label for="author">author: </label><br>
    <input type="text" id="author" name="author" placeholder="Your name or alias"><br>
    <label for="content">Comment:</label><br>
    <textarea id="content" name="content" placeholder="Some space to create a blog entry"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>